<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <input v-model="message" type="" name="" value="">
      <span v-text="message"></span>
      <p class="mce-text list" data-id="121">这是一条消息：{{ message }}<span>这也是一条：{{ message }}</span></p>
      <ul>
        <li v-for="list"></li>
      </ul>
    </div>
    <div class="other">电风扇士大夫士大夫士大夫</div>
    <script src="./js/binding.js"></script>
    
  </body>

</html>